* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: aqua;
    // background-color: #D59898;
    // background-color: #E5D198 ;
    // background-color:#C14543 ;

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
   }
}